<!DOCTYPE html>
<html lang="es">
<head>
    <%- include('../partials/head') %>
    <link rel="stylesheet" href="/stylesheets/edit-user.css">
</head>
<body>
    <%- include('../partials/header') %>

    <%- include('../partials/nav') %>

    <h2>Editar datos Personales</h2> 

    <form class="edit-user" action="/users/edit-user/<%= id %>?_method=PUT" method="post"> 
        <h3>Modificar Foto de perfil</h3>
        <input type="hidden" name="action" value="edit-img">
        <img id="product-img" src="/images/<%= image %>" alt="<%= nombre %>, <%= apellido %>">
        <input type="file" name="image" id="product-img-file" >

        <button id="submit" type="submit">Guardar cambios</button> 
    </form>

    <form class="edit-user" action="/users/edit-user/<%= id %>?_method=PUT" method="post"> 
        <h3>Modificar Correo Eléctronico</h3>
        <p>Correo Eléctronico Actual: <%= email %> </p>
        <div class="form-floating"> 
            <input type="hidden" name="action" value="edit-email">
            <input type="email" class="form-control" id="email" name="email" placeholder="name@example.com"> 
            <label for="email">Nuevo Correo Eléctronico</label> 
        </div>

        <button id="submit" type="submit">Guardar cambios</button> 
    </form>

    <form class="edit-user" action="/users/edit-user/<%= id %>?_method=PUT" method="post">
        <h3>Modificar Contraseña</h3> 
        <div class="form-floating"> 
            <input type="hidden" name="action" value="edit-password">
            <input type="password" class="form-control" id="oldPassword" name="oldPassword" placeholder="password" >
            <label for="oldPassword">Constraseña Actual</label> 
        </div>

        <div class="form-floating"> 
            <input type="password" class="form-control" id="password" name="password" placeholder="password" >
            <label for="password">Nueva Constraseña</label> 
        </div>

        <div class="form-floating"> 
            <input type="password" class="form-control" id="confirmPassword" name="confirmPassword" placeholder="Confirmar Contraseña" > 
            <label for="confirmpPassword">Confirmar Nueva constraseña</label> 
            <span id="show-hide">Mostrar</span>
        </div> 

        <button id="submit" type="submit">Guardar cambios</button> 
    </form>

    <%- include('../partials/footer') %>
    <script src="/javascripts/register.js"></script>
</body>
</html>