<!DOCTYPE html>
<html lang="es">
<head>
    <%- include('../partials/head') %>
    <link rel="stylesheet" href="/stylesheets/profile.css">
</head>
<body>
    <%- include('../partials/header') %>

    <%- include('../partials/nav') %> 

    <main>
        <h2>Mi cuenta</h2>
        
        <table class="mis-datos"> 
            <h3>Datos Personales</h3>
            <img src="/images/<%= image %>" alt="<%= nombre %>,<%= apellido %>">  
            <span><a id="edit-btn" href="/users/edit-user">Editar</a></span>
            <tr>
                <th>Nombre</th>
                <td><%= nombre %></td>
            </tr>
            <tr>
                <th>Apellido</th>
                <td><%= apellido %></td>
            </tr>
            <tr>
                <th>Correo Eléctronico</th>
                <td><%= email %></td>
            </tr>

        </table>

        <table class="mis-compras">    
            <h3>Historial de Envios</h3> 
            <tr>
                <th>N° Pedido</th>
                <th>Fecha</th>
                <th>Estado</th>
                <th>Monto</th>
                <th>Dirección de Envio</th>
            </tr>
            <tr>
                <td>N° Pedido</td>
                <td>Fecha</td>
                <td>Estado</td>
                <td>Monto</td>
                <td>Dirección de Envio</td>
            </tr>
            <tr>
                <td>N° Pedido</td>
                <td>Fecha</td>
                <td>Estado</td>
                <td>Monto</td>
                <td>Dirección de Envio</td>
            </tr>
        </table>
    </main>

    <%- include('../partials/footer') %>
</body>
</html>