<!DOCTYPE html>
<html lang="es">
<head>
    <%- include('../partials/head') %>
    <link rel="stylesheet" href="/stylesheets/detail-product.css">
</head>
<body>
    <%- include('../partials/header') %>

    <%- include('../partials/nav') %>

    <main>
        <form class="edit-product" action="/products/edit/<%= id %>" method="get"> 
            <button id="submit" type="submit">Editar Producto</button> 
        </form>

        <div class="product-detail">
            <div class="product-img">
                <img src="/images/<%= image %>" alt="<%= name %>">
            </div>
            
            <h3 class="product-name"><%= name %></h3>
            <p class="product-brand"><b>Marca:</b> <%= brand %></p>
            <div class="product-quantity">
                <button>-</button>
                <input type="number" name="quantity" id="quantity">
                <button>+</button>
            </div>

            <div class="product-price">
                <p id="price"><%= price %></p>
                <p>Contado o transferencia. Precio sin impuestos <%= price_cash %></p>
                <p><%= price_installment_count %> cuotas de <%= price_installment %></p>
            </div>
            
            <button class="add-cart">Agregar al Carrito</button>
        </div>

        <div class="product-spec">
            <h3>Descripción</h3>
            <%- description %>
        </div>
    </main>

    <%- include('../partials/footer') %>
</body>
</html>